<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Grooshella: Groovy shell application</title>
</head>
<body>
  <h1>Grooshella console</h1>
  <form action="/console/script" method="POST" target="result">
  	<div>
  		<textarea id="script" name="script" rows="30" cols="60"></textarea>
  		<input type="submit" />
  	</div>
  </form>
  <div>
    <iframe border="0" name="result"></iframe>
  </div>
</body>
</html>
